:root{
  --label-color: rgba(100,100,100,1);

  --btn-bg-default: rgb(65, 99, 223);
}

/* card styling */
.card{   
  background-color: white;
  border-width: 0px;
  border-radius: 8px;
  padding: 2rem;
}

/* ui and input styling */
.title{
  margin: .5rem 0;
  font-size: 1.5rem;
}
label{
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: var(--label-color);
}
input, textarea{
  display: flex;
  padding: .5rem;
  width: calc(100% - 1rem);     
  border-radius: 6px; 
  border-width: 1px;
  font-family: 'Roboto', sans-serif;
}

.btn{
  display: inline-block;
  padding: .5rem 0;  
  border-radius: 6px;
  margin: .5rem 0;
  width: 100%;
  border-width: 0px;

  background-color: var(--btn-bg-default);
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  
  transition: all 200ms ease-out;
}
.btn-outline{
  background-color: rgba(0,0,0,0);
  border: 2px solid var(--btn-bg-default);
  color: var(--btn-bg-default);
}
.btn:hover{
  cursor: pointer;
  filter: grayscale(40%);
}

.qrCodeContainer{
  /* display: none; */
  opacity: 0;
  max-height: 0;
  transition: all 800ms ease-out;
}
.qrCodeContainer-show{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 1rem 0; */
  opacity: 1;
  max-height: none;
}


.credit{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  color: white;
  padding: 0.5rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.credit a{
  color: white;
}


/* media queries */